{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 180,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"plugins": [
		"@prettier/plugin-oxc",
		"prettier-plugin-svelte",
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-organize-attributes",
		"prettier-plugin-css-order",
		"prettier-plugin-tailwindcss"
	],
	"cssDeclarationSorterOrder": "smacss",
	"tailwindPreserveDuplicates": false
}
